<nav
  class="navbar navbar-dark bg-transparent d-flex justify-content-sm-between w-100"
>
  <h5
    class="text-success text-sm-center text-left mx-auto mt-3 d-inline-block ml-5"
  >
    API Products
    <mat-icon color="accent">alt_route</mat-icon>
  </h5>

  <ul class="mt-3 d-flex justify-content-around mx-auto">
    <li class="nav-item d-none d-sm-flex">
      <button
        mat-fab
        color=""
        routerLink="/"
        routerLinkActive="mat-warn"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon color="primary">home</mat-icon>
      </button>
    </li>
    <li *ngIf="!isAuthNew" class="mx-3 mr-5 d-none d-sm-flex nav-item">
      <button
        mat-fab
        color=""
        routerLink="/login"
        routerLinkActive="mat-warn"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon color="primary" size="large">person</mat-icon>
      </button>
    </li>
    <li *ngIf="isAuthNew" class="ml-5 mr-5 nav-item d-none d-sm-flex">
      <button (click)="onLogout()" mat-fab color="">
        <mat-icon color="" size="large">logout</mat-icon>
      </button>
    </li>
    <li class="nav-item ml-5 d-flex mr-5 d-sm-none">
      <button (click)="onMenuClicked()" mat-fab color="">
        <mat-icon color="accent" class="">menu</mat-icon>
      </button>
    </li>
  </ul>
</nav>
