<mat-sidenav-container>
  <mat-sidenav #sideNav position="end" mode="slide" class="pl-3">
    <app-sidebar [isAuth]="isAuth" [sidebar]="sideNav"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (onMenu)="sideNav.toggle()" [isAuthNew]="isAuth"></app-navbar>
    <div class="container wrapper">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <app-footer class="mx-auto"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
