<header
  class="my-5 d-flex flex-column justify-content-start align-items-center text-center mx-auto w-100"
>
  <h1 class="display-1 text-success text-center my-5">
    Products Api
    <h6 class="text-secondary">v 1.0.0</h6>
  </h1>

  <div class="d-flex justify-content-around mx-auto mt-5">
    <a
      href="https://documenter.getpostman.com/view/13825305/TWDfCsdr"
      target="_blank"
      mat-raised-button
      color="warn"
      class="mr-sm-5 mr-2 text-decoration-none"
    >
      DOCUMENTATION
    </a>
    <a
      href="https://github.com/moulahi-mo/Nodejs-Products-Api/blob/master/README.md"
      target="_blank"
      mat-raised-button
      color="primary"
      class="ml-sm-5 ml-2 text-decoration-none"
    >
      DETAILS
    </a>
  </div>
</header>
