<section class="my-5">
  <mat-nav-list role="list">
    <mat-list-item (click)="sidebar.close()" routerLink="/">Home</mat-list-item>
    <mat-list-item
      *ngIf="!isAuth"
      (click)="sidebar.close()"
      routerLink="/login"
      role="listitem"
    >
      Login</mat-list-item
    >
    <mat-list-item
      *ngIf="isAuth"
      (click)="sidebar.close()"
      routerLink="/profile"
      role="listitem"
    >
      <div>Profile</div>
    </mat-list-item>
    <mat-list-item
      *ngIf="isAuth"
      (click)="sidebar.close()"
      routerLink="/logout"
      role="listitem"
    >
      <div (click)="onLogout()">Logout</div>
    </mat-list-item>
  </mat-nav-list>
</section>
