<section class="my-5">
  <section class="my-5 d-flex flex-column">
    <h2 class="display-4 text-center text-secondary">
      {{ !isEdit ? "Add New" : "Edit" }} User
    </h2>
    <mat-icon class="mr-auto h1 mb-4" color="accent" routerLink="/"
      >arrow_back</mat-icon
    >
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <mat-card *ngIf="!isLoading">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="onSubmit()"
              class="d-flex flex-column"
            >
              <!-- *item -->
              <mat-form-field color="warn">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <!-- *item -->
              <mat-form-field color="warn">
                <mat-label>Email</mat-label>
                <textarea matInput formControlName="email"> </textarea>
              </mat-form-field>
              <!-- *item -->
              <mat-form-field color="warn">
                <mat-label>Role</mat-label>
                <mat-select matInput formControlName="role">
                  <mat-option disabled value="admin">Admin</mat-option>
                  <mat-option value="publisher">Publisher</mat-option>
                  <mat-option value="user">User</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- * button-->
              <button
                [disabled]="formAdd.invalid"
                mat-flat-button
                color="warn"
                class="d-block mx-auto"
              >
                {{ !isEdit ? "Create" : "Edit" }}
              </button>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <!-- *is loading-->
  <app-loader *ngIf="isLoading && !isError"></app-loader>
  <!-- *is error-->
  <app-error *ngIf="isError" [message]="isError"></app-error>
</section>
